@model EntityLayer.Concrete.Author

@{
    ViewBag.Title = "AddAuthor";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Yazar Adı Soyadı") @*Label kısmı*@
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" }) @*İnput kısmı*@
    @Html.ValidationMessageFor(x => x.AuthorName)
    <br />
    @Html.Label("Resim Yolu") @*Label kısmı*@
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" }) @*İnput kısmı*@
    @Html.ValidationMessageFor(x => x.AuthorImage)

    <br />
    @Html.Label("Yazarın Yetenekleri") @*Label kısmı*@
    @Html.TextBoxFor(x => x.AboutShort, new { @class = "form-control" }) @*İnput kısmı*@
    @Html.ValidationMessageFor(x => x.AboutShort)
    <br />
    @Html.Label("Yazarın Mesleği") @*Label kısmı*@
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" }) @*İnput kısmı*@
    @Html.ValidationMessageFor(x => x.AuthorTitle)
    <br />
    @Html.Label("Mail Adresi")
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
    <br />
    @Html.Label("Şifre")
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Hakkında") @*Label kısmı*@
    @Html.TextAreaFor(x => x.AuthorAbout, 3, 20, new { @class = "form-control" }) @*İnput kısmı*@

    <button class="btn btn-info">Kaydet</button>


</form>

